
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@font-face
{
	font-family: 'Beyond';
	src: url('../fonts/beyond_the_mountains.otf')  format('truetype'),
		 url('../fonts/beyond_the_mountains.ttf')  format('opentype');
}

*
{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
img{
	width:100%;
	display:inline-block;
}
body
{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #FFFFFF;
	color: #a5a5a5;
}
*{box-sizing:border-box; -moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;}
body{background: #f0f0f0;}
.content{width: 260px; margin: 100px auto;}.colors{width: 260px; float: left; margin: 20px auto;}.colors a{width: 43.3px; height: 30px; float: left;}.colors .default{background: #414956;}.colors .blue{background: #4A89DC;}.colors .green{background: #03A678;}.colors .red{background: #ED5565;}.colors .white{background: #fff;}.colors .black{background: #292929;}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);.jquery-accordion-menu,.jquery-accordion-menu *{font-family:'Open Sans',sans-serif;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;outline:0}.jquery-accordion-menu{min-width:260px;float:left;position:relative;box-shadow:0 20px 50px #333}.jquery-accordion-menu .jquery-accordion-menu-footer,.jquery-accordion-menu .jquery-accordion-menu-header{width:100%;height:50px;padding-left:22px;float:left;line-height:50px;font-weight:600;color:#f0f0f0;background:#414956}.jquery-accordion-menu ul{margin:0;padding:0;list-style:none}.jquery-accordion-menu ul li{width:100%;display:block;float:left;position:relative}.jquery-accordion-menu ul li a{width:100%;padding:14px 22px;float:left;text-decoration:none;color:#f0f0f0;font-size:13px;background:#414956;white-space:nowrap;position:relative;overflow:hidden;-o-transition:color .2s linear,background .2s linear;-moz-transition:color .2s linear,background .2s linear;-webkit-transition:color .2s linear,background .2s linear;transition:color .2s linear,background .2s linear}.jquery-accordion-menu>ul>li.active>a,.jquery-accordion-menu>ul>li:hover>a{color:#fff;background:#3b424d}.jquery-accordion-menu>ul>li>a{border-bottom:solid 1px #3b424d}.jquery-accordion-menu ul li a i{width:34px;float:left;line-height:18px;font-size:16px;text-align:left}.jquery-accordion-menu .submenu-indicator{float:right;right:22px;position:absolute;line-height:19px;font-size:20px;-o-transition:transform .3s linear;-moz-transition:transform .3s linear;-webkit-transition:transform .3s linear;-ms-transition:transform .3s linear}.jquery-accordion-menu ul ul.submenu .submenu-indicator{line-height:16px}.jquery-accordion-menu .submenu-indicator-minus>.submenu-indicator{-ms-transform:rotate(45deg);-moz-transform:rotate(45deg);-webkit-transform:rotate(45deg);transform:rotate(45deg)}.jquery-accordion-menu ul ul.submenu,.jquery-accordion-menu ul ul.submenu li ul.submenu{width:100%;display:none;position:static}.jquery-accordion-menu ul ul.submenu li{clear:both;width:100%}.jquery-accordion-menu ul ul.submenu li a{width:100%;float:left;font-size:11px;background:#383838;border-top:none;position:relative;border-left:solid 6px transparent;-o-transition:border .2s linear;-moz-transition:border .2s linear;-webkit-transition:border .2s linear;transition:border .2s linear}.jquery-accordion-menu ul ul.submenu li:hover>a{border-left-color:#414956}.jquery-accordion-menu ul ul.submenu>li>a{padding-left:30px}.jquery-accordion-menu ul ul.submenu>li>ul.submenu>li>a{padding-left:45px}.jquery-accordion-menu ul ul.submenu>li>ul.submenu>li>ul.submenu>li>a{padding-left:60px}.jquery-accordion-menu ul li .jquery-accordion-menu-label,.jquery-accordion-menu ul ul.submenu li .jquery-accordion-menu-label{min-width:20px;padding:1px 2px 1px 1px;position:absolute;right:18px;top:14px;font-size:11px;font-weight:800;color:#555;text-align:center;line-height:18px;background:#f0f0f0;border-radius:100%}.jquery-accordion-menu ul ul.submenu li .jquery-accordion-menu-label{top:12px}.ink{display:block;position:absolute;background:rgba(255,255,255,.3);border-radius:100%;-webkit-transform:scale(0);-moz-transform:scale(0);-ms-transform:scale(0);-o-transform:scale(0);transform:scale(0)}.animate-ink{-webkit-animation:ripple .5s linear;-moz-animation:ripple .5s linear;-ms-animation:ripple .5s linear;-o-animation:ripple .5s linear;animation:ripple .5s linear}@-webkit-keyframes ripple{100%{opacity:0;-webkit-transform:scale(2.5)}}@-moz-keyframes ripple{100%{opacity:0;-moz-transform:scale(2.5)}}@-o-keyframes ripple{100%{opacity:0;-o-transform:scale(2.5)}}@keyframes ripple{100%{opacity:0;transform:scale(2.5)}}.blue.jquery-accordion-menu .jquery-accordion-menu-footer,.blue.jquery-accordion-menu .jquery-accordion-menu-header,.blue.jquery-accordion-menu ul li a{background:#4A89DC}.blue.jquery-accordion-menu>ul>li.active>a,.blue.jquery-accordion-menu>ul>li:hover>a{background:#3e82da}.blue.jquery-accordion-menu>ul>li>a{border-bottom-color:#3e82da}.blue.jquery-accordion-menu ul ul.submenu li:hover>a{border-left-color:#3e82da}.green.jquery-accordion-menu .jquery-accordion-menu-footer,.green.jquery-accordion-menu .jquery-accordion-menu-header,.green.jquery-accordion-menu ul li a{background:#03A678}.green.jquery-accordion-menu>ul>li.active>a,.green.jquery-accordion-menu>ul>li:hover>a{background:#049372}.green.jquery-accordion-menu>ul>li>a{border-bottom-color:#049372}.green.jquery-accordion-menu ul ul.submenu li:hover>a{border-left-color:#049372}.red.jquery-accordion-menu .jquery-accordion-menu-footer,.red.jquery-accordion-menu .jquery-accordion-menu-header,.red.jquery-accordion-menu ul li a{background:#ED5565}.red.jquery-accordion-menu>ul>li.active>a,.red.jquery-accordion-menu>ul>li:hover>a{background:#DA4453}.red.jquery-accordion-menu>ul>li>a{border-bottom-color:#DA4453}.red.jquery-accordion-menu ul ul.submenu li:hover>a{border-left-color:#DA4453}.white.jquery-accordion-menu .jquery-accordion-menu-footer,.white.jquery-accordion-menu .jquery-accordion-menu-header,.white.jquery-accordion-menu ul li a{background:#fff;color:#555}.white.jquery-accordion-menu>ul>li.active>a,.white.jquery-accordion-menu>ul>li:hover>a{background:#f0f0f0}.white.jquery-accordion-menu>ul>li>a{border-bottom-color:#f0f0f0}.white.jquery-accordion-menu ul ul.submenu li:hover>a{border-left-color:#f0f0f0}.white.jquery-accordion-menu ul ul.submenu li a{color:#f0f0f0}.white.jquery-accordion-menu>ul>li>a>.ink{background:rgba(0,0,0,.1)}.black.jquery-accordion-menu .jquery-accordion-menu-footer,.black.jquery-accordion-menu .jquery-accordion-menu-header,.black.jquery-accordion-menu ul li a{background:#292929}.black.jquery-accordion-menu>ul>li.active>a,.black.jquery-accordion-menu>ul>li:hover>a{background:#222}.black.jquery-accordion-menu>ul>li>a{border-bottom-color:#222}.black.jquery-accordion-menu ul ul.submenu li:hover>a{border-left-color:#222}

div
{
	display: block;
	/*position: relative;*/
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 2;
	font-weight: 400;
	color: #929191;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
	display: inline;
	/*position: relative;*/
	color: inherit;
	border-bottom: solid 1px #ffa07f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
	/*position: relative;*/
	color: #FF6347;
}
p a:hover
{
	color: #FFFFFF;
	background: #ffa07f;
}
p a:hover::after
{
	opacity: 0.2;
}


h1{font-size: 48px;}
h2{font-size: 36px;}
h3{font-size: 24px;}
h4{font-size: 18px;}
h5{font-size: 14px;}
h1, h2, h3, h4, h5, h6
{
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
input:focus{
	box-shadow: none!important;
}

#carouselExampleControls .carousel-inner .img-container{
	height: 200px;
}
#carouselExampleControls .carousel-inner .img-container img{
	height: 200px;
}

#carouselExampleControls .carousel-inner .media-heading{
	margin-top: 20px;
}
#carouselExampleControls .carousel-inner .carousel-item .col-md-3{
	margin-bottom: 10px;
}
.pkg{
	margin-bottom: 10px;
}
.sidebar  .input-group {
	width: 100%;
	background: #fff;
	color: #414142;
	margin: auto;
	border-bottom: 1px solid #414142;
}
.sidebar form{
	width:50%;
	margin-left: 10px;
}
.sidebar  .form-control {
	border: none;
	padding: 10px;
	color: #000;
	background: transparent;
}
.sidebar  .input-group i {
	font-size: 15px;
	margin-top: 5px;
	color: #414142;
}
.sidebar .input-group-text button {
	border: 0;
	padding: 15px 18px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	background: none;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-name:fadeInDown;
}
.header
{

	width: 100%;
	background: rgba(241, 242, 242, 0.6);
	z-index:10;
}
.sticky .navbar-light{
	background: #fff;
}



/*********************************
3.1 Top Bar
*********************************/
.user_box {
	color: #fff;
	font-size: 12px;
	font-weight: 600;
	line-height: 36px;
}
.user_box i{
	padding-right: 10px;
}
.user_box span{
	font-size: 15px;
    margin: 0px 5px;
}

.top_bar
{
	width: 100%;
	height: 36px;
	background:#009444;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.phone
{
	display: inline-block;
	margin-right: 36px;
	line-height: 36px;
	font-size: 12px;
	font-weight: 600;
	color: #FFFFFF;
}
.phone span{
	font-size:15px;
	margin: 0px 5px; 
}
.social_list_item
{
	/*position: relative;*/
	display: inline-block;
	margin-right: 3px;
}
.social_list_item:last-child
{
	margin-right: 0px;
}
.social_list_item a
{
	display: block;
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 36px;
}
.social_list_item:hover a i
{
	color: #FF5722;
}
.social_list_item a i
{
	font-size: 12px;
	color: #FFFFFF;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.social_list_item a:hover
{
	color: #FFFFFF;
}

/*********************************
3.2 Logo
*********************************/

.logo_container
{
	-webkit-transform: translateY(-6px);
	-moz-transform: translateY(-6px);
	-ms-transform: translateY(-6px);
	-o-transform: translateY(-6px);
	transform: translateY(-6px);
}
.header.scrolled .logo_container
{
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
}

.logo a img
{
	display: inline-block;
	vertical-align: baseline;
	-webkit-transform: translateY(2px);
	-moz-transform: translateY(2px);
	-ms-transform: translateY(2px);
	-o-transform: translateY(2px);
	transform: translateY(2px);
}

/*********************************
3.3 Main Nav
***

******************************/
.navbar-light .navbar-toggler{
	border-color: #1B5E20;
}
.navbar-light{
	background-color: #ffffffb8;
}
 .navbar-toggler .fa-bars{
	color:#1B5E20;
	font-size: 25px;
}
.navbar-light .navbar-collapse .navbar-nav  .nav-link {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight:bold;
	color:black;
	margin: 0px 10px;
	text-transform: capitalize;
	position: relative;
}

.navbar-light .navbar-collapse .navbar-nav  a:hover{
	color:#FF5722;
}
.navbar-light .navbar-collapse .navbar-nav  a:hover:before,.navbar-light .navbar-collapse .navbar-nav  a:hover:after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: -3px;
}
.navbar-light .navbar-collapse .navbar-nav  a:hover:after {
  right: -3px;
  height: 3px;
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#2b720f), to(#f4511e));
  background-image: -webkit-linear-gradient(left, #2b720f, #f4511e);
  background-image: -moz-linear-gradient(left, #2b720f, #f4511e);
  background-image: -o-linear-gradient(left, #2b720f, #f4511e);
}
.navbar-brand img{
	width: 120px;
}
.navbar-light .navbar-collapse .navbar-nav .active {
  color:#FF5722; 
}
.navbar-light .navbar-collapse .navbar-nav .dropdown:hover .dropdown-menu{
	display: block;
}


.wrap{
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0;
  position: absolute;
  z-index:9;
  top: 100px;
  background: linear-gradient(to right, #2b720f, #f4511e);
  padding: 5px 0;
  border-radius: 3px;
  box-shadow: inset 0 0 7px rgba(69, 78, 140,0.5);
}
[class*="js-conveyor-"] ul{
  display: inline-block;
  opacity: 0.5;
}
[class*="js-conveyor-"] ul li{
  padding: 0 15px;
  line-height: 35px;
  font-size: 16px;
  color: #fff;
}
#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 30px;
    background:  #FF5722;
    color: #fff;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}
#back-to-top:hover {
    background: #FF5722;
}
#back-to-top.show {
    opacity: 1;
}

.home{
	position: relative;
	margin-top: 42px;
}
.home_slider_container
{
	width: 100%;
	height: 600px;
	z-index: 10;
	background: #2E7D32;
}
.home_slider
{
	width: 100%;
	height: 100%;
}
.home_slider_item
{
	width: 100%;
	height: 100%;
}
.home_slider_background
{
	width: 100%;
	
/*opacity: 0.5;*/
}
.home_slider_background img
{
	height: 600px;

}
.home_slider_prev
{
	left: 50px;
}
 .home_slider_nav {
    position: absolute;
    top: 60%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 9;
    cursor: pointer;
}
.home_slider_next
{
	right: 50px;
}
.home_slider_prev:hover .nav_path,
.home_slider_prev:hover .nav_arrow
{
	fill: url(#home_grad_prev);
}
.home_slider_next:hover .nav_arrow,
.home_slider_next:hover .nav_path
{
	fill: url(#home_grad_next);
}
.temp{
	position: absolute;
    top: 50%;
    left: 12%;
    background: hsla(0, 0%, 100%, 0.6);
    color: #000;
    padding: 50px;
}

.search
{
	width: 100%;
	padding: 20px;
	background: linear-gradient(to right, #2b720f, #f4511e);
}
.search_tabs_container
{
	position: absolute;
	bottom: 100%;
	left: 15px;
	width: calc(100% - 30px);
}
.search_tabs
{
	height: 94px;
}
.search_tab
{
	font-size: 14px;
	font-weight: 700;
	color: #2d2c2c;
	text-transform: uppercase;
	text-align: center;
	height: 100%;
	flex-grow: 1;
	background: #FFFFFF;
	cursor: pointer;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.search_tab img
{
	margin-right: 10px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.search_tab:first-child
{
	border-top-left-radius: 0px;
	padding-left: 15px;
}
.search_tab:last-child
{
	border-top-right-radius: 0px;
}
.search_tab.active
{
	background: #fa9e1b;
	color: #FFFFFF;
}
.search_tab.active img
{
	-webkit-filter: brightness(200%) grayscale(100%);
	-moz-filter: brightness(200%) grayscale(100%);
	-ms-filter: brightness(200%) grayscale(100%);
	-o-filter: brightness(200%) grayscale(100%);
  	filter: brightness(200%) grayscale(100%);
}
.search_tab:hover
{
	background: #fa9e1b;
	color: #FFFFFF;
}
.search_tab:hover img
{
	-webkit-filter: brightness(200%) grayscale(100%);
	-moz-filter: brightness(200%) grayscale(100%);
	-ms-filter: brightness(200%) grayscale(100%);
	-o-filter: brightness(200%) grayscale(100%);
  	filter: brightness(200%) grayscale(100%);
}
.search_panel
{
	display: none !important;
	width: 100%;
	height: 100%;
	-webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}
.search_panel.active
{
	display: flex!important;
}
/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
.search_panel_content
{
	width: 100%;
	height: 100%;
}
.search_input
{
	width: 100%;
	height: 46px;
	border: none;
	outline: none;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 13px;
	font-weight: 600;
	color: #929191;
}
.search_item:first-child
{
	width: 30.453%;
	margin-right: 20px;

}
.search_item:nth-child(2)
{
	width: 13.961%;
	margin-right: 20px;
}

.search_item div
{
	font-size: 13px;
	font-weight: 700;
	color: #FFFFFF;
	text-transform: uppercase;
	margin-bottom: 14px;
}
.dropdown_item_select
{
	-webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    -o-appearance:none;
    appearance:none;
	-webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	-webkit-user-select: none;
	background-image: url(../images/dropdown.png);
	background-position: center right;
	background-repeat: no-repeat;
	border: solid 1px #FFFFFF;
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
}
.dropdown_item_select::-ms-expand
{

    display: none;
}
.dropdown_item_select:hover
{
	border: solid 1px #f4511e;
}
.dropdown_item_select:focus
{
	outline-color:#f4511e;
}
.search_button
{
	font-size: 13px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	line-height: 53px;
	padding-left: 46px;
	padding-right: 46px;
	background: #2E7D32;
	-webkit-transform: translateY(15px);
	-moz-transform: translateY(15px);
	-ms-transform: translateY(15px);
	-o-transform: translateY(15px);
	transform: translateY(15px);
	border: none;
	outline: none;
	cursor: pointer;
}
.search_button:hover
{
	opacity: 0.8;
}
.tab .nav-tabs li {
    width: 100%;
    border: 0px;
    border-radius: 0px;
    text-align: center;
}
.tab .nav-tabs li.active a {
    background: #ff6102;
    border: 0px;
    color: #fff;
}
.rating i {
    color: #ff6102;
    font-size: 11px;
}
.media-heading a{
	font-size: 14px;
	color: #000;
}
#news{
	text-align: center;
	margin: 50px 0px;
}
#news p{
    color: #000;
    padding: 10px;
    font-size: 35px;
    text-align: center;
    display: inline-block;
   font-weight: bold; 
   
}

#tour{
	margin: 100px 0px;
	text-align: center;
}
.pkg{
	position: relative;
}
.pkg h2{
	background: rgba(0, 147, 68, 0.8);
	padding: 10px;
	color: #fff;
	font-size: 15px;
	text-align: center;
	position: absolute;
	bottom:0;
	width: 50%;
	
}
#tour h1{
	font-weight: bold;
	font-size: 31px;
	color: #231f20;
	text-transform: uppercase;
	margin-bottom: 20px;
}
#tour p{
		font-weight: bold;
	font-size: 18px;
	color:#787273;
	margin-bottom: 50px;
}
.cta
{
	padding-top: 125px;
	padding-bottom: 116px;
	background: linear-gradient(to right, #2E7D32, #F57C00);
	position: relative;
}
.cta_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(../images/cta.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	opacity: 0.27;
}
.cta_item
{
	padding-top: 75px;
	padding-bottom: 61px;
	padding-left: 90px;
	padding-right: 90px;
	background: #FFFFFF;
}
.cta_title
{
	font-size: 30px;
	font-weight: 700;
	color: #2d2c2c;
	text-transform: uppercase;
}
.cta_text
{
	font-weight: 600;
	line-height: 2.29;
	margin-top: 14px;
	margin-bottom: 0px;
}
.cta_button
{
	margin-top: 38px;
	position: relative;
	display: inline-block;
}

.cta_slider_nav
{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 9;
	cursor: pointer;
}
.cta_slider_prev
{
	left: -75px;
}
.cta_slider_next
{
	right: -75px;
}
.cta_slider_prev:hover .nav_path,
.cta_slider_prev:hover .nav_arrow
{
	fill: url(#cta_grad_prev);
}
.cta_slider_next:hover .nav_path,
.cta_slider_next:hover .nav_arrow
{
	fill: url(#cta_grad_next);
}
.button_bcg
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(to right, #388E3C, #FF9800, #2E7D32);
	z-index: -1;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
	border-radius: 40px;
}
.button:hover .button_bcg
{
	background: radial-gradient( #388E3C, #FF9800, #2E7D32);
}
.button a
{
	display: block;
	font-size: 13px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	line-height: 53px;
	padding-left: 46px;
	padding-right: 46px;
	white-space: nowrap;
	z-index: 2;
}
.offers
{
	width: 100%;
	padding-top: 85px;
	background: #f3f6f9;
}
.offers_items
{
	margin-top: 90px;
}
.offers_col
{
	margin-bottom: 83px;
}
.offers_item
{

}
.offers_image_container
{
	width: 100%;
	height: 100%;
}
.offers_image_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.offer_name
{
	position: absolute;
	left: 0;
	bottom: 27px;
	width: 180px;
	height: 33px;
	background: #388E3C;
	overflow: hidden;
}
.offer_name a
{
	display: block;
	font-size: 16px;
	font-weight: 700;
	color: #FFFFFF;
	text-transform: uppercase;
	line-height: 35px;
	padding-left: 22px;
}

.offers_price
{
	display: inline-block;
	font-size: 36px;
	font-weight: 700;
	color: #eda84a;
	line-height: 25px;
}
.offers_price span
{
	font-size: 14px;
	font-weight: 400;
	color: #929191;
	margin-left: 12px;
}
.section_title
{
	font-size: 30px;
	font-weight: 700;
	color: #2d2c2c;
	margin-top: -8px;
	text-transform: uppercase;
}


.offers_text
{
	font-size: 14px;
	font-weight: 400;
	color: #929191;
	margin-top: 16px;
}

.offers_link
{
	margin-top: 54px;
}
.offers_link a
{
	font-size: 12px;
	font-weight: 700;
	color: #2d2c2c;
	text-transform: uppercase;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.offers_link a:hover
{
	color: #388E3C;
}
.testimonials
{
	width: 100%;
	padding-top: 75px;
	background: #FFFFFF;
}

/*********************************
10.1 Testimonials Slider
*********************************/

.test_slider_container
{
	width: 100%;
	margin-top: 54px;
}
.test_item
{
	padding-top: 36px;
}


.test_content_container
{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 44.1%;
	background: rgba(56, 142, 60, 0.8);
}
.test_content
{
	width: 100%;
	height: 100%;
	padding-left: 38px;
	padding-top: 44px;
	padding-right: 40px;
}
.test_item_info
{
	position: absolute;
	left: 41px;
	bottom: calc(100% - 18px);
	background: #FFFFFF;
	padding-left: 20px;
	padding-right: 21px;
	padding-top: 9px;
	padding-bottom: 10px;
	z-index: 10;
}
.test_name
{
	font-size: 14px;
	font-weight: 700;
	color: #2d2c2c;
	text-transform: uppercase;
}
.test_date
{
	font-size: 11px;
	margin-top: 2px;
	color: #2d2c2c;
	padding-left: 2px;
}
.test_quote_title
{
	font-size: 20px;
	font-weight: 500;
	color: #FFFFFF;
	padding-left: 3px;
}
.test_quote_text
{
	font-weight: 500;
	color: #FFFFFF;
	margin-top: 11px;
}
.test_slider_nav
{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 9;
	cursor: pointer;
}
.test_slider_nav .nav_path,
.test_slider_nav .nav_arrow
{
	fill: #c4ced2;
}
.test_slider_prev
{
	left: -75px;
}
.test_slider_next
{
	right: -75px;
}
.test_slider_prev:hover .nav_path,
.test_slider_prev:hover .nav_arrow
{
	fill: url(#test_grad_prev);
}
.test_slider_next:hover .nav_path,
.test_slider_next:hover .nav_arrow
{
	fill: url(#test_grad_next);
}


.marquee {
    display: inline-block;
    width: -webkit-fill-available;

}
.marquee img{
	width: 140px;
	height: 80px;
}

img{
	display: inline-block;
	width: 100%;
	height: auto;
}



.footer_row{
	position: absolute;
	top: 30%;
	left: 0;
	width: 100%;
}

.footer
{
	width: 100%;
	position: relative;
	height: 100%;

}
.footer_col{
	padding-left: 30px;
}
.footer_title
{
	font-size: 15px;
	font-weight: 700;
	color: #FFFFFF;
	text-transform: uppercase;
}

/*********************************
13.1 Footer - About
*********************************/
.logo img{
	width: 120px;
}
.footer_about
{
	padding-top: 67px;
	padding-left: 75px;
}
.footer_logo
{
	position: absolute;
	left: 115px;
	top: -24px;
}
.back-foot{
	width: 100%;
	background: rgba(0,0,0,0.6);
	position: absolute;
	height: 100%;
	top: 0;
}

.footer_about_text
{
	font-size: 14px;
	font-weight: 600;
	color: #FFFFFF;
}
.footer_social_item
{
	display: inline-block;
	width: 31px;
	height: 31px;
	border: solid 1px #fa9e1b;
	border-radius: 50%;
	text-align: center;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
	margin-right: 9px;
}
.footer_social_item:last-child
{
	margin-right: 0px;
}
.footer_social_item a
{
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
}
.footer_social_item a i
{
	display: block;
	position: relative;
	color: #FFFFFF;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	font-size: 12px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.footer_social_item:hover
{
	background: #fa9e1b;
}
.footer_social_item:hover a i
{
	color: #31124b;
}
.contact_info_list
{
	margin-top: 40px;
	display: inline-block;
}
.contact_info_item
{
	margin-bottom: 22px;
}
.contact_info_icon
{
	width: 20px;
	height: 20px;
	margin-right: 10px;
}
.contact_info_icon img
{
	display: block;
	width: 100%;
}
.contact_info_text,
.contact_info_text a
{
	color: #FFFFFF;
	line-height: 2.14;
	margin-top: -4px;
}
.contact_info_item:hover .contact_info_text,
.contact_info_item:hover .contact_info_text a
{
	color: #fa9e1b;
}



.mega-menu {
	padding: 10px 0px ! important;
	width: 450px;
  border-radius: 0;
  margin-top: 0px;
	}

.mega-menu table {
		display:block;
		font-size: 15px;
		padding: 5px;
		width: 100%;
		}

.mega-menu td a{
	color: #4b4949;
	display: inline-block;
	margin: 10px;
}
.mega-menu tr{
	width: 100%;
}
.mega-menu td{
	width:33.33%;
	float: left;
}
.mega-menu td img{
	width:30%;
	float: left;
	padding-top: 10px;
}
.mega-menu td span{
	width:70%;
	float: left;
	font-size: 12px;
}
		




/* Disable Toggle style
********************************/  

/* Dropdown Toggle on style */
.navbar .nav li.dropdown.open > .dropdown-toggle, 
.navbar .nav li.dropdown.active > .dropdown-toggle, 
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background: inherit; /* Set to inherit when using mouse hover to open dropdown */
    color: inherit;
    }   
    /* Toggle off style */
    .navbar .nav li.dropdown.open.active > .dropdown-toggle,
    .navbar .nav > li.dropdown > a:focus { 
    background: inherit;
    color: inherit;
    }
    /* Toggle hover */
    .navbar .nav li.dropdown > .dropdown-toggle:hover,
    .navbar .nav li.dropdown.open > .dropdown-toggle:hover {
    background-color: #DDDDDD;
    }
            
            
    /* Toggle caret*/
    .navbar .nav li.dropdown > .dropdown-toggle .caret {
        border-bottom-color:;
        border-top-color:;
        }
        /* Toggle caret hover */
        .navbar .nav li.dropdown > a:hover .caret, 
        .navbar .nav li.dropdown > a:focus .caret {
        border-bottom-color: #333;
        border-top-color: #333;
        }
        /* Toggle caret active */
        .navbar .nav li.dropdown.open > .dropdown-toggle .caret, 
        .navbar .nav li.dropdown.active > .dropdown-toggle .caret, 
        .navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
        border-bottom-color:#333;
        border-top-color: #333;
        }



/* Hover style
********************************/ 
.navbar .nav > li > a, .mega-menu a
 { 
  -webkit-transition: all 200ms ease;
	 -moz-transition: all 200ms ease;
	  -ms-transition: all 200ms ease;
	   -o-transition: all 200ms ease;
	      transition: all 200ms ease; 
	
		 /* -webkit-transform: translate3d(0, 0, 0); Webkit Hardware Acceleration*/ 
	     -webkit-backface-visibility: hidden; /* Safari Flicker Fix #2 */
	     -webkit-transform: translateZ(0);
}	


/*visa */

#page-content{
	padding: 50px 0px;
}
.wrapper{
  width:100%;
}
.wrapper .fa{
	padding-left: 0.5em;
	padding-right: 0.5em;
}
.cvisa{
	border-bottom: 1px solid  #000;
	color: #000;
	font-size: 15px;
	display: inline-block;
}
@media(max-width:992px){
 .wrapper{
  width:100%;
} 
}
.panel-heading {
  padding: 0;
	border:0;
}
.panel-title>a, .panel-title>a:active{
	display:block;
	padding:15px;
  color:#fff;
 font-size:12px;
  font-weight:bold;
	text-transform:uppercase;
	letter-spacing:1px;
  word-spacing:3px;
	text-decoration:none;
	background: #009444;
}
.panel-title a:hover{
	background: #FF5722;
}
.panel-heading  a:before {
font-family: 'FontAwesome';
 content: "\f107";
   float: right;
   transition: all 0.5s;
}
.panel-heading.active a:before {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
} 
.panel-body{
    background-color: #f5f5f5;
    border: 1px solid #ddd;
}
.panel-body{
	padding: 10px;
}
.panel-body strong{
	font-weight: bold;
}
.panel-body p{
    text-align: left;
    color: #666;
    line-height: 20px;
    font-size: 12px;
    text-align: justify;

}

/**{box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}body{background: #f0f0f0;}.content{width: 260px; margin: 100px auto;}.colors{width: 260px; float: left; margin: 20px auto;}.colors a{width: 43.3px; height: 30px; float: left;}.colors .default{background: #414956;}.colors .blue{background: #4A89DC;}.colors .green{background: #03A678;}.colors .red{background: #ED5565;}.colors .white{background: #fff;}.colors .black{background: #292929;}*/

/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);.jquery-accordion-menu,.jquery-accordion-menu *{font-family:'Open Sans',sans-serif;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;outline:0}.jquery-accordion-menu{min-width:260px;float:left;position:relative;box-shadow:0 20px 50px #333}.jquery-accordion-menu .jquery-accordion-menu-footer,.jquery-accordion-menu .jquery-accordion-menu-header{width:100%;height:50px;padding-left:22px;float:left;line-height:50px;font-weight:600;color:#f0f0f0;background:#414956}.jquery-accordion-menu ul{margin:0;padding:0;list-style:none}.jquery-accordion-menu ul li{width:100%;display:block;float:left;position:relative}.jquery-accordion-menu ul li a{width:100%;padding:14px 22px;float:left;text-decoration:none;color:#f0f0f0;font-size:13px;background:#414956;white-space:nowrap;position:relative;overflow:hidden;-o-transition:color .2s linear,background .2s linear;-moz-transition:color .2s linear,background .2s linear;-webkit-transition:color .2s linear,background .2s linear;transition:color .2s linear,background .2s linear}.jquery-accordion-menu>ul>li.active>a,.jquery-accordion-menu>ul>li:hover>a{color:#fff;background:#3b424d}.jquery-accordion-menu>ul>li>a{border-bottom:solid 1px #3b424d}.jquery-accordion-menu ul li a i{width:34px;float:left;line-height:18px;font-size:16px;text-align:left}.jquery-accordion-menu .submenu-indicator{float:right;right:22px;position:absolute;line-height:19px;font-size:20px;-o-transition:transform .3s linear;-moz-transition:transform .3s linear;-webkit-transition:transform .3s linear;-ms-transition:transform .3s linear}.jquery-accordion-menu ul ul.submenu .submenu-indicator{line-height:16px}.jquery-accordion-menu .submenu-indicator-minus>.submenu-indicator{-ms-transform:rotate(45deg);-moz-transform:rotate(45deg);-webkit-transform:rotate(45deg);transform:rotate(45deg)}.jquery-accordion-menu ul ul.submenu,.jquery-accordion-menu ul ul.submenu li ul.submenu{width:100%;display:none;position:static}.jquery-accordion-menu ul ul.submenu li{clear:both;width:100%}.jquery-accordion-menu ul ul.submenu li a{width:100%;float:left;font-size:11px;background:#383838;border-top:none;position:relative;border-left:solid 6px transparent;-o-transition:border .2s linear;-moz-transition:border .2s linear;-webkit-transition:border .2s linear;transition:border .2s linear}.jquery-accordion-menu ul ul.submenu li:hover>a{border-left-color:#414956}.jquery-accordion-menu ul ul.submenu>li>a{padding-left:30px}.jquery-accordion-menu ul ul.submenu>li>ul.submenu>li>a{padding-left:45px}.jquery-accordion-menu ul ul.submenu>li>ul.submenu>li>ul.submenu>li>a{padding-left:60px}.jquery-accordion-menu ul li .jquery-accordion-menu-label,.jquery-accordion-menu ul ul.submenu li .jquery-accordion-menu-label{min-width:20px;padding:1px 2px 1px 1px;position:absolute;right:18px;top:14px;font-size:11px;font-weight:800;color:#555;text-align:center;line-height:18px;background:#f0f0f0;border-radius:100%}.jquery-accordion-menu ul ul.submenu li .jquery-accordion-menu-label{top:12px}.ink{display:block;position:absolute;background:rgba(255,255,255,.3);border-radius:100%;-webkit-transform:scale(0);-moz-transform:scale(0);-ms-transform:scale(0);-o-transform:scale(0);transform:scale(0)}.animate-ink{-webkit-animation:ripple .5s linear;-moz-animation:ripple .5s linear;-ms-animation:ripple .5s linear;-o-animation:ripple .5s linear;animation:ripple .5s linear}@-webkit-keyframes ripple{100%{opacity:0;-webkit-transform:scale(2.5)}}@-moz-keyframes ripple{100%{opacity:0;-moz-transform:scale(2.5)}}@-o-keyframes ripple{100%{opacity:0;-o-transform:scale(2.5)}}@keyframes ripple{100%{opacity:0;transform:scale(2.5)}}.blue.jquery-accordion-menu .jquery-accordion-menu-footer,.blue.jquery-accordion-menu .jquery-accordion-menu-header,.blue.jquery-accordion-menu ul li a{background:#4A89DC}.blue.jquery-accordion-menu>ul>li.active>a,.blue.jquery-accordion-menu>ul>li:hover>a{background:#3e82da}.blue.jquery-accordion-menu>ul>li>a{border-bottom-color:#3e82da}.blue.jquery-accordion-menu ul ul.submenu li:hover>a{border-left-color:#3e82da}.green.jquery-accordion-menu .jquery-accordion-menu-footer,.green.jquery-accordion-menu .jquery-accordion-menu-header,.green.jquery-accordion-menu ul li a{background:#03A678}.green.jquery-accordion-menu>ul>li.active>a,.green.jquery-accordion-menu>ul>li:hover>a{background:#049372}.green.jquery-accordion-menu>ul>li>a{border-bottom-color:#049372}.green.jquery-accordion-menu ul ul.submenu li:hover>a{border-left-color:#049372}.red.jquery-accordion-menu .jquery-accordion-menu-footer,.red.jquery-accordion-menu .jquery-accordion-menu-header,.red.jquery-accordion-menu ul li a{background:#ED5565}.red.jquery-accordion-menu>ul>li.active>a,.red.jquery-accordion-menu>ul>li:hover>a{background:#DA4453}.red.jquery-accordion-menu>ul>li>a{border-bottom-color:#DA4453}.red.jquery-accordion-menu ul ul.submenu li:hover>a{border-left-color:#DA4453}.white.jquery-accordion-menu .jquery-accordion-menu-footer,.white.jquery-accordion-menu .jquery-accordion-menu-header,.white.jquery-accordion-menu ul li a{background:#fff;color:#555}.white.jquery-accordion-menu>ul>li.active>a,.white.jquery-accordion-menu>ul>li:hover>a{background:#f0f0f0}.white.jquery-accordion-menu>ul>li>a{border-bottom-color:#f0f0f0}.white.jquery-accordion-menu ul ul.submenu li:hover>a{border-left-color:#f0f0f0}.white.jquery-accordion-menu ul ul.submenu li a{color:#f0f0f0}.white.jquery-accordion-menu>ul>li>a>.ink{background:rgba(0,0,0,.1)}.black.jquery-accordion-menu .jquery-accordion-menu-footer,.black.jquery-accordion-menu .jquery-accordion-menu-header,.black.jquery-accordion-menu ul li a{background:#292929}.black.jquery-accordion-menu>ul>li.active>a,.black.jquery-accordion-menu>ul>li:hover>a{background:#222}.black.jquery-accordion-menu>ul>li>a{border-bottom-color:#222}.black.jquery-accordion-menu ul ul.submenu li:hover>a{border-left-color:#222}*/

.sidebar .widget {
    background: #fff;
    -webkit-box-shadow: -1px 0px 10px -4px rgba(179,179,179,1);
    -moz-box-shadow: -1px 0px 10px -4px rgba(179,179,179,1);
    box-shadow: -1px 0px 10px -4px rgba(179,179,179,1);
    padding: 5px;
}
.widget {
    margin-bottom: 3em;
}
.widget h4{
	width: 40%;
	color: #000;
	margin:10px 0px;
	font-size: 18px;
}
.tagcloud {
    overflow: hidden;
    padding-left: 2px;
}
.visa-row {
    display: table;
    width: 100%;
}
.visa-flag {
    border: 1px solid #ddd;
    margin-bottom: 5px;
    width: 46%;
    float: left;
    margin: 2%;
    transition: 0.2s ease-in;
}
.visa-flag-img {
    width: 30px;
    height: 30px;
    overflow: hidden;
    float: left;
    border-radius: 50%;
}
.visa-flag img {
    height: 100%;
}
.visa-flag:hover{
	background: #ddd;
}
.tagcloud .visa-flag a {
    border: none !important;
    color: #0d2b79 !important;
    display: table-cell !important;
    padding-left: 5px !important;
    line-height: 25px;
    font-weight: 900;
}
.tagcloud a:link, .tagcloud a:visited {
    font-size: .8em !important;
    padding: 2px 4px;
}
.home-1{
	position: relative;
	text-align: center;
	height: 500px;
}
.home-1 img{
	height: 500px;
}
.home-1 .rainbow-div{
	position: absolute;
	top: 35%;
	width: 100%;
	text-align: center;
	background-color: #ffffff8c;
	font-size: 40px;
	font-weight: bold;
	font-weight: 800;

}
.home-1 .rainbow{
	background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #2b720f), color-stop(0.15, #f4511e), color-stop(0.3, #2b720f), color-stop(0.45, #f4511e), color-stop(0.6, #2b720f),color-stop(0.75, #f4511e), color-stop(0.9, #2b720f), color-stop(1, #f4511e) );
	background-image: gradient( linear, left top, right top, color-stop(0, #2b720f), color-stop(0.15, #f4511e), color-stop(0.3, #2b720f, color-stop(0.45, #f4511e), color-stop(0.6, #2b720f),color-stop(0.75, #f4511e), color-stop(0.9,  #2b720f)), color-stop(1, #f4511e) );
	color:transparent;
	-webkit-background-clip: text;
	background-clip: text;

	margin: 0;
}
.table thead th{
	color: #000;
}
.table td {
	color: #000;
	text-transform: capitalize;
}
.table .fa-check{
	color: #009444;
}
.table .fa-times{
	color: red;
}

/*catagories*/



 #flags .hentry {
    margin: 0 0 0.75em;
}
 #flags .panel.panel-default {
    margin-bottom: 15px !important;
}
 #flags article .panel {
    -webkit-box-shadow: -1px 0px 10px -4px rgba(179,179,179,1);
    -moz-box-shadow: -1px 0px 10px -4px rgba(179,179,179,1);
    box-shadow: -1px 0px 10px -4px rgba(179,179,179,1);
    border-radius: 0px;
    width: 100%;
}
 #flags .panel-default {
    border-color: #ddd;
}
 #flags .panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.5);
    box-shadow: 0 1px 1px rgba(0,0,0,0.5);
}

 #flags .post-link .panel-body, .post-image .panel-body {
    padding: 0px;
    overflow: hidden;
    text-align: center;
    width: auto;
    position: relative;
}

 #flags .post-image .img-container {
    overflow: hidden;
}
 

 #flags .post-image .img-container a {
    display: block;
}
 #flags .img-container img, .img-container a img {
    width: 100%;
}
 #flags .panel-body img, .panel-image img {
    height: 250px;
    width: 100%;
}

#flags{
	margin-top: 50px;
}




#flags .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0d0c0c9c;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
}

 #flags .panel-body:hover .overlay {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

 #flags .text a {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/*latestpakg*/
#latest-pkg{
	margin: 50px 0px;
}


#latest-pkg p{
	color: gray;
	font-size: 15px;
	line-height: 1.74em;
	

}
#latest-pkg h1{
 text-align: center;
    background-color: #009444;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
    border-radius: 5px;
    box-shadow: 5px 10px 20px -13px rgba(0,0,0,0.75);
    font-size: 26px;
}
#slider{
	width: 500px;
	margin: auto;
}
#latest-pkg .img-container{
	position: relative;
}
#latest-pkg .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0d0c0c9c;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

 #latest-pkg .contry-c:hover .overlay {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

 #latest-pkg .text a {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
#latest-pkg .contry-c{
	border: 1px solid gray;
	text-align: center;
	margin: 20px 0px;
}
.contry-c span{
	color: #ef9c0b;
}

.contry-c p{
	border-bottom: 1px solid rgb(215, 208, 208);
	margin: 5px;
	padding: 2px;
}
.contry-c .btn-primary{
	background-color: #4CAF50;
	border: none;
	margin: 20px 0px;
}
.contry-c .btn-primary:active{
	border:none!important;
	background: #ef9c0b !important;
}
.contry-c .btn-primary a{
	color: #fff;
}
.contry-c .btn-primary:hover{
	background: #ef9c0b;
}
 #latest-pkg .col-md-3:hover .contry-c{
border: 1px solid #ef9c0b;
 box-shadow: 5px 10px 20px -2px rgba(128,128,128,0.6);
}
 #latest-pkg .arrow{
    display: inline-block;
    float: right;
    margin:20px 35px 20px;
}
 #latest-pkg .carousel-control-prev1{
    display: inline-block;
   
}
#latest-pkg .carousel-control-prev1 i{
     color: #77777a;
     background: #FFFFFF;
    border: 1px solid #77777a;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    line-height: 15px;
    margin-right: 10px;
}
#latest-pkg .carousel-control-next1 i{
     color: #77777a;
     background: #FFFFFF;
    border: 1px solid #77777a;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    line-height: 15px;
}
#latest-pkg .carousel-control-next1{
    display: inline-block;
}
#latest-pkg .carousel-item .thumbnail img{
	border: 1px solid gray;
	padding: 2px;
}

/*europepkg*/
#pkg-detail{
	margin: 50px 0px;
	color: #000;
}
  #pkg-detail #myCarousel .list-inline {
    white-space:nowrap;
 
}

  #pkg-detail #myCarousel .carousel-indicators {
    position: static;
    margin-top: 10px;
    width:100%;
    margin-left: initial;
}

 #pkg-detail   #myCarousel .carousel-indicators > li {
    width:100%;
    height: auto;
    text-indent: initial;
	 cursor: pointer;
}

 #pkg-detail   #myCarousel .carousel-indicators > li.active img {
    opacity: 0.7;
}
#pkg-detail p span{
	color: #009444;
}
.book-now{
	margin-top: 50px;
}
#pkg-detail p{
	color: #000;
}
#pkg-detail h1{
font-size: 25px;
font-weight: bold;
}
#pkg-detail form input{
	border: 1px solid #009444;
	font-size: 15px;
	color: gray;
}
#pkg-detail form input:focus{
	border: 1px solid #009444;
	box-shadow: none;
}
#pkg-detail form textarea{
	width: 100%;
	min-height: 100px;
	border: 1px solid #009444;
	padding-left: 10px;
}
#pkg-detail form textarea:focus{
	border: 1px solid #009444;
	box-shadow: none;
	outline:0;
}
#pkg-detail .btn-primary{
	background-color: #4CAF50;
	border: none;
	color: #fff;
}
.project-content h4 {
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(238, 238, 238);

}
.project-content{
	margin-top: 50px;
}
.project-content span {
    padding-bottom: 4px;
    border-bottom: 1px solid #009444;
    color: #000;
    font-size: 20px;
    font-weight: bold;
}
.project-content.col-md-4 ul li {
    margin-bottom: 2px;
}
.project-content .panel-group{
	margin-top: 30px;
}


/*contact*/

.contact_form_section
{
	padding-top: 105px;
}
.contact_form_container
{
	padding-top: 74px;
	padding-left: 98px;
	padding-right: 98px;
	padding-bottom: 88px;
	background: linear-gradient(to top right, #2E7D32, #F57C00);
}
.contact_title
{
	font-size: 30px;
	font-weight: 700;
	color: #FFFFFF;
	text-transform: uppercase;
}
.contact_form
{
	margin-top: 52px;
	font-size: 0px;
}
.input_field
{
	height: 48px;
	font-size: 12px;
	font-weight: 400;
	border: none;
	outline: none;
	background: transparent;
	color: #FFFFFF;
	border-bottom: solid 2px #e1e1e1;
}
.contact_form_name
{
	width: calc((100% - 30px) / 2);
	margin-right: 30px;
}
.contact_form_email
{
	width: calc((100% - 30px) / 2);
}
.contact_form_subject
{
	width: 100%;
	margin-top: 11px;
}
.contact_form_message
{
	height: 126px;
	width: 100%;
	border: none;
	outline: none;
	margin-top: 19px;
	background: transparent;
	font-size: 12px;
	font-weight: 400;
	color: #FFFFFF;
	border-bottom: solid 2px #e1e1e1;
	padding-top: 11px;
}
.form_submit_button
{
	font-size: 13px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	line-height: 53px;
	padding-left: 29px;
	padding-right: 29px;
	background:#FF5722;
	-webkit-transform: translateY(15px);
	-moz-transform: translateY(15px);
	-ms-transform: translateY(15px);
	-o-transform: translateY(15px);
	transform: translateY(15px);
	border: none;
	outline: none;
	margin-top: 37px;
	cursor: pointer;
}
.form_submit_button:hover
{
	opacity: 0.8;
}
.input_field::-webkit-input-placeholder,
.text_field::-webkit-input-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	color: #FFFFFF !important;
}
.input_field:-moz-placeholder,
.text_field:-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	color: #FFFFFF !important;
}
.input_field::-moz-placeholder,
.text_field::-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	color: #FFFFFF !important;
} 
.input_field:-ms-input-placeholder,
.text_field:-ms-input-placeholder
{ 
	font-size: 12px !important;
	font-weight: 400 !important;
	color: #FFFFFF !important;
}
.input_field::input-placeholder,
.text_field::input-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	color: #FFFFFF !important;
}
.about
{
	padding-top: 105px;
	padding-bottom: 146px;
	z-index: 1;
}

.about_content
{
	padding-top: 93px;
}
.about_logo
{
	position: absolute;
	left: 0;
	top: 4px;
}
.about_logo a
{
	color: #2e2e2e;
	font-weight: 800;

}
.about_text
{
	font-size: 14px;
	font-weight: 600;
	line-height: 2.29;
	color: #929191;
}
.about_social_list
{
	margin-top: 40px;
}
.about_social_item
{
	display: inline-block;
	width: 47px;
	height: 47px;
	border: solid 2px #fa9e1b;
	border-radius: 50%;
	text-align: center;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
	margin-right: 15px;
}
.about_social_item:last-child
{
	margin-right: 0px;
}
.about_social_item a
{
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
}
.about_social_item a i
{
	display: block;
	position: relative;
	color: #fa9e1b;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	font-size: 20px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.about_social_item:hover
{
	background: #fa9e1b;
}
.about_social_item:hover a i
{
	color: #FFFFFF;
}
.about_info
{
	padding-top: 100px;
}
.about_info .contact_info_item:last-child
{
	margin-bottom: 0px;
}
.about_info .contact_info_list
{
	margin-top: 0px;
}
.about_info .contact_info_text,
.about_info .contact_info_text a
{
	color: #2e2e2e;
}

/*********************************
7. Travelix Map
*********************************/

.odtravel_map
{
	width: 100%;
}

.map_container
{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#map
{
	width: 100%;
	height: calc(100% + 30px);
}

/*about*/
.intro
{
	width: 100%;
	padding-top: 92px;
	padding-bottom: 105px;
	background: #f6f9fb;
}

.intro_title
{
	font-size: 30px;
	font-weight: 700;
	color: #2d2c2c;
	text-transform: uppercase;
}
.intro_text
{
	margin-bottom: 0px;
	font-weight: 600;
	color: #929191;
	margin-top: 60px;
}
.intro_button{
	background: linear-gradient(to top right, #2E7D32, #F57C00);
	margin-top: 30px;
	width: 40%;
	border-radius: 50px;
}
.intro_button:hover{
	background: radial-gradient( #2E7D32, #F57C00);
}
.intro h2{
color: #2d2c2c;
	font-size: 15px;
	margin: 30px 0px;
	font-weight: bold;
}
.intro ul{
	list-style:inherit;
	color:#929191;
	line-height: 30px;
}
/*insurance*/
.travel-insurance {
	margin-top: 50px;
	margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 1px #8c8686;
    -moz-box-shadow: 0px 0px 1px #8c8686;
    -webkit-box-shadow: 0px 0px 1px #8c8686;
    -o-box-shadow: 0px 0px 1px #8c8686;
    -ms-box-shadow: 0px 0px 1px #8c8686;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.travel-insurance h1{
	text-decoration: underline;
	font-size: 20px;
	font-weight: bold;
	color: #000;
	margin: 20px 0;
}
.travel-insurance h2{
	font-size: 20px;
	font-weight: bold;
	color:#FF5722;
	margin: 20px 0;

}
.travel-insurance p{
	margin-top: 1rem;
	letter-spacing: .45px
}
.travel-insurance ul{
	list-style: inherit;
	margin-left: 50px;
	letter-spacing: 0.45px;
	color: #FF5722;
	/*font-weight: bold;*/

}


























@media only screen and (max-width: 1280px)
{
	.cta_slider_prev
	{
		left: 15px;
	}
	.cta_slider_next
	{
		right: 15px;
	}
	.cta_slider_nav .nav_path,
	.cta_slider_nav .nav_arrow
	{
		fill: url(#grad);
	}
	.test_slider_prev
	{
		left: 15px;
	}
	.test_slider_next
	{
		right: 15px;
	}
}

/************
4. 1199px
************/

@media only screen and (max-width: 1199px)
{
	.navbar-light .navbar-collapse .navbar-nav .nav-link{
		margin: 0 5px;
	}
	.main_nav_container
	{
		margin-right: 121px;
	}
	.home_slider_content h1:first-child
	{
		font-size: 92px;
	}
	.home_slider_content h1:nth-child(2)
	{
		font-size: 80px;
		margin-top: -24px;
	}
	.footer_blog_content
	{
		padding-left: 74px;
	}
}

/************
4. 1100px
************/

@media only screen and (max-width: 1100px)
{
	
}

/************
5. 1024px
************/

@media only screen and (max-width: 1024px)
{
	
}

/************
6. 991px
************/

@media only screen and (max-width: 991px)
{
	.navbar-light .navbar-collapse .navbar-nav .nav-link {
		text-align: center;
	}
   .mega-menu{
	   width:100%;
   }
	.home_slider_content h1:first-child
	{
		font-size: 72px;
	}
	.home_slider_content h1:nth-child(2)
	{
		font-size: 60px;
		margin-top: -18px;
	}
	.home_slider_button
	{
		margin-top: 58px;
	}
	
	.search
	{
		height: auto;
		padding: 20px;
		/*padding-bottom: 100px;*/
		
	}
	.search_tabs_container
	{
		position: relative;
		bottom: auto;
		left: auto;
		width: auto;
	}
	.search_tabs
	{
		height: auto;
	}
	.search_tab
	{
		height: 62px;
		width: 100%;
		padding-left: 15px;
	}
	.search_tab:first-child
	{
		border-top-left-radius: 0px;
		padding-left: 15px;
	}
	.search_tab:last-child
	{
		border-top-right-radius: 0px;
	}
	.search_panel
	{
		display: none !important;
		/*margin-top: 50px;*/
	}
	.search_panel.active
	{
		display: flex!important;
	}
	.search_item
	{
		width: 100% !important;
		margin-bottom: 10px;
	}
	.search_tab:first-child
	{
		border-top-left-radius: 0px;
		padding-left: 15px;
	}
	.search_item:last-child
	{
		margin-bottom: 0px;
	}

	.intro_col
	{
		margin-bottom: 60px;
	}
	.intro_col:last-child
	{
		margin-bottom: 0px;
	}
	.intro_item
	{
		height: 810px;
	}
	.cta_item
	{
		padding-left: 30px;
		padding-right: 30px;
	}
	.cta_slider_nav
	{
		display: none !important;
	}
	.offers_image_container
	{
		height: 708px;
	}
	.offers_content
	{
		margin-top: 40px;
	}
	.test_slider_nav
	{
		display: none !important;
	}
	.footer_column
	{
		margin-bottom: 60px;
	}
	.footer_column:last-child
	{
		margin-bottom: 0px;
	}
	.copyright
	{
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.copyright_content
	{
		height: auto;
		margin-top: 15px;
	}
	.footer_nav_container
	{
		height: auto;
	}
	.footer_nav_item
	{
		display: block;
	}
	.navbar-light .navbar-collapse .navbar-nav  a:hover{
		color: #fff;
		background: #009344;
	}
	.navbar-light .navbar-collapse .navbar-nav  a:hover:before,.navbar-light .navbar-collapse .navbar-nav  a:hover:after {
		display: none;
	}
	.home_slider_nav{
		top: 60% !important;
	}
	.about_social_item{
		margin-right: 0;
	}
	.sidebar .form-control{
		padding: 0!important;
	}
	.sidebar .input-group-text button{
		padding: 10px 5px;
	}
	.widget h4{
		font-size:14px;
	}
	.visa-flag-img{
		display:none;
	}

}



@media only screen and (max-width: 959px)
{
	
}


@media only screen and (max-width: 880px)
{
	
}



@media only screen and (max-width: 768px)
{
	.footer .col-lg-6{
		text-align: center;
	}
	.logo{
		margin-left: 50px;
	}
	#news p{
		font-size: 40px;
	}
	.contact_info_item {
    margin-bottom: 5px;
}
.contact_info_list {
    margin-top: 12px;
    display: inline-block;
}
.footer_row{
	top: 20%;
}
.footer_about{
	padding: 0;
}
.footer p{
	margin: 0;
	}
	.footer_column{
		margin:0;
	}
	.footer .col-lg-6{
		text-align: left;
	}
	.logo{
		margin-left: 0;
	}
	.footer_logo{
		top: -70px;
	}
	.home-1 h1{
		font-size: 30px;
		top: 55%;
	}
	.visa-flag-img{
		display: inherit;
	}
}



@media only screen and (max-width: 767px)
{	
	
	.offers_image_container
	{
		height: 524px;
	}
	#news .carousel-control-next, .carousel-control-prev {
		display:none;
	}
}


@media only screen and (max-width: 575px)
{
	p{font-size: 13px;}
	.top_bar
	{
		display: none;
	}
	.button
	{
		height: 44px;
		border-radius: 22px;
	}
	.button a
	{
		line-height: 44px;
		padding-left: 36px;
		padding-right: 36px;
	}
	.logo a img
	{
		width: 24px;
	}
	.logo a
	{
		font-size: 24px;
	}
	.home_slider_nav
	{
		display: none !important;
	}
	.home_slider_content h1:first-child
	{
		font-size: 48px;
	}
	.home_slider_content h1:nth-child(2)
	{
    	font-size: 43px;
    	margin-top: -12px;	
	}
	.home_slider_button
	{
		margin-top: 45px;
	}
	.home_slider_dots
	{
		display: none !important;
	}
	.main_nav_col
	{
		height: 60px;
	}
	.header.scrolled .main_nav_col
	{
		height: 60px;
	}
	.logo_container
	{
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
	}
	.content_search
	{
		-webkit-transform: translateY(2px);
		-moz-transform: translateY(2px);
		-ms-transform: translateY(2px);
		-o-transform: translateY(2px);
		transform: translateY(2px);
	}
	.header.scrolled .content_search
	{
		-webkit-transform: translateY(2px);
		-moz-transform: translateY(2px);
		-ms-transform: translateY(2px);
		-o-transform: translateY(2px);
		transform: translateY(2px);
	}
	.hamburger
	{
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
	}
	.logo a
	{
		font-size: 16px;
	}
	.logo a img
	{
		width: 16px;
		margin-right: 7px;
	}
	.hamburger i
	{
		font-size: 18px;
	}
	.content_search svg
	{
		width: 15px;
		height: 15px;
	}
	.menu_close_container
	{
		top: 15px;
		right: 28px;
	}
	.menu_logo
	{
		margin-bottom: 17px;
	}
	.menu_logo a img
	{
		width: 28px !important;
	}
	.menu_item a
	{
		font-size: 24px;
	}
	.search_button
	{
		line-height: 44px;
	}
	
	.section_title
	{
		font-size: 21px;
	}
	.cta_item
	{
		padding-left: 15px;
		padding-right: 15px;
	}
	.cta_title
	{
		font-size: 24px;
	}
	.test_item
	{
		padding-top: 26px;
	}
	.test_icon
	{
		left: 20px;
		width: 52px;
		height: 52px;
	}
	.test_content
	{
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 36px;
	}
	.test_item_info
	{
		left: 20px;
	}
	.test_name
	{
		font-size: 12px;
	}
	.test_date
	{
		font-size: 10px;
	}
	.test_quote_title
	{
		font-size: 16px;
		padding-left: 1px;
	}
	.test_quote_text
	{
		margin-top: 5px;
	}
	.trending_title a
	{
		font-size: 14px;
	}
	.trending_price
	{
		font-size: 12px;
	}
	.trending_location
	{
		font-size: 12px;
	}
	.offers_image_container
	{
		height: calc((100vw - 30px) / 0.974);
	}
	.trending_item
	{
		margin-bottom: 30px;
	}
	.contact_title
	{
		font-size: 24px;
	}
	.contact_form_name
	{
		width: 100%;
		margin-right: 0px;
	}
	.contact_form_email
	{
		width: 100%;
		margin-top: 11px;
	}
	.form_submit_button
	{
		line-height: 44px;
	}
	.footer_about_text
	{
		font-size: 13px;
	}
	.home_slider_container{
		height: 300px;
	}
	.home_slider_background img{
		height:300px;
	}
	.wrap{
		top:66px;
	}
	#slider{
		width: auto;
	}
}

/************
11. 539px
************/

@media only screen and (max-width: 576px)
{

}

@media only screen and (max-width: 539px)
{

}



@media only screen and (max-width: 480px)
{
	
}


@media only screen and (max-width: 479px)
{
	h2{font-size: 24px;}
	p{font-size: 13px;}
	
}


@media only screen and (max-width: 400px)
{
	h2{font-size: 20px;}
	p{font-size: 13px;}
	
}
@media only screen and (max-width: 425px){
	.mega-menu td span{
		font-size: 10px;
	}
	.wrap{
		top: 70px;
		padding:10px 0;
		position: inherit;
	}
	
	.temp{
		padding:10px ;
		top: 25%;
	}
	.header{
		position: inherit;
	}
	.footer p{
		display: none;
	}
	.logo{
		display: none;
	}
	.footer ul{
		margin-top: 5px;
	}
	.footer_social_list{
		display: none;
	}
	.footer_row {
    top: 10%;
}
.home-1 h1{
	top: 14%;
}
.panel-title>a{
	letter-spacing: 0;
}
.contact_title{
	font-size: 15px;
}
.form_submit_button{
	font-size: 12px;
}
.contact_form_section {
    padding-top: 60px;
}
.intro ul{
	list-style: none;
}
.intro {
	padding-top: 50px;
	padding-bottom: 50px;
}

	
}
@media only screen and (max-width: 375px){
	.contact_info_text, .contact_info_text a {
    color: #FFFFFF;
    /* line-height: 1.14; */
    margin-top: -2px;
    font-size: 10px;
}
.contact_info_icon {
    width: 16px;
    height: 16px;
}
.intro_button{
	padding: 0;
	width: 150px;
}
	.mega-menu td span{
		font-size: 10px;
		width:100%;

	}
	.mega-menu img{
		display: none;
	}

}
@media only screen and (max-width: 320px){
	.temp{
		top: 15%;
		left: 1%;
	}
	.footer_row{
		top: 5%;
	}
	.contact_title{
	font-size: 13px;
}
.form_submit_button{
	padding-right: 0;
	padding-left: 0;
	width: 110px;
}
.home-1 h1{
	font-size: 25px;
}
.widget h4{
	font-size: 15px;
}
}




@media (min-width: 426px) and (max-width: 1200px){
	.home_Slider_background img{
		margin-top:100px;

	}
}